body{
     margin: 0%;
     background-color: #D97E8E;
     color: rgb(233, 233, 233);
     font-family: "Sniglet", system-ui;
}

header{
     background-color: #CEECF2;
     padding: 0.3vw;
}

.text{
     padding: 5vw 10vw;
}

h2{
     font-family: "Coiny", system-ui;
}

.hero{
     height: 50vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background-size: cover;
     background-position: 50% 50%;
     background-repeat: no-repeat;
     h1{
          font-family: "Coiny", system-ui;
          font-size: 4rem;
          color: #F2B279;
     }
     &.Dogs{
          background-image: url('../img/dog.jpg');
     }
     &.Cats{
          background-image: url('../img/cat.jpg');
     }
     &.home{
          background-image: url('../img/home.jpg');
     }
}